.menu button{
    width: 33.3334%;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border: transparent;
    background-color: #ddd;
    font-size: 18px;
    color: #333333;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 22px;
  }
  
.menu button:hover {
    background-color: #eee;
    border: solid #eee;
    cursor: pointer;
}

.menu {
  padding: 0px;
  margin: 0px;
  width: 50.00%;
  background-color: #ddd;
  border: solid #ddd;
}